{% extends 'shop/basic.html' %}

{% block title%} title of spage {% endblock %}


{% block css %}
<style>
    .col-md-3 {
        display: inline-block;
        margin-left: -4px;
    }

    .carousel-indicators .active {
        background-color: blue;
    }

    .col-md-3 img {
        width: 255px;
        height: 155px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        top: Auto;
        bottom: Auto;
        padding-top: 173px;
    }


    body .carousel-indicator li {
        background-color: blue;
    }

    body .carousel-indicators {
        bottom: 0;
    }

    body .carousel-control-prev-icon,
    body .carousel-control-next-icon {
        background-color: blue;
    }


    body .no-padding {
        padding-left: 0 px;
        padding-right: 0 px;
    }
</style>
{% endblock %}


{% block body%}
{% load static %}

{% for Products,no_of_slides,range in Prods %}
<div class="container">

    <h1 class="my-4"> {{Products.0.category}} </h1>
    <div class="row">
        <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
                {% for i in range %}
                <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
                {% endfor %}
            </ul>

            <!--Slideshow starts here -->
            <div class="container carousel-inner no-padding">

                <div class="carousel-item active">



                    {% for i in Products%}
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="card align-items-center" style="width: 18rem;">
                            <img src="/media/{{i.image}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{i.p_name}}</h5>
                                <p class="card-text">{{i.p_desc}}</p>

                                <button id="pr{{i.id}}" class="btn btn-primary cart">Add to cart</button>

                                <button id="ad{{i.id}}" class="btn btn-primary cart"
                                    style="display: none;"><B>+</B></button>

                                <label id="quantity{{i.id}}" style="display: none;"> 0 </label>

                                <button id="re{{i.id}}" class="btn btn-primary remove"
                                    style="display: none;"><B>-</B></button>

                                <a href="/shop/products/{{i.id}}">
                                    <button id="pv{{i.id}}" class="btn btn-primary">Quick View</button>
                                </a>



                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                </div>
                <div class="carousel-item">
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>


        <!-- left and right controls for the slide -->
        <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->


    </div>
    {%endfor%}

</div>
{% endblock %}

{%block js%}

<script>

    console.log("working");
    $('#pop_cart').popover('show');
    $('#pop_cart').click(pop_cart());


    function items1(number) {
        tem = "pr" + number;
        document.getElementById(tem).style.display = "block";
        tem = "ad" + number;
        console.log(tem);
        document.getElementById(tem).style.display = "none";
        tem = "quantity" + number;
        document.getElementById(tem).style.display = "none";
        tem = "re" + number;
        document.getElementById(tem).style.display = "none";
    }

    function items2(number) {
        tem = "pr" + number;
        document.getElementById(tem).style.display = "none";
        tem = "ad" + number;
        console.log(tem);
        document.getElementById(tem).style.display = "block";
        tem = "quantity" + number;
        document.getElementById(tem).style.display = "block";
        tem = "re" + number;
        document.getElementById(tem).style.display = "block";
    }

    function update_cart() {
        let total = 0;

        for (key in cart) {
            total += cart[key];

        }

        document.getElementById('cart').innerHTML = total;

    }


    if (localStorage.getItem('cart') == null) {
        var cart = {};

    }

    else {
        cart = JSON.parse(localStorage.getItem('cart'));
        update_cart();
    }

    for (i in cart) {
        if (cart[i] > 0) {
            tem = i.slice(2);
            items2(tem);
        }

        if (cart[i] == 0) {
            tem = i.slice(2);
            items1(tem);
        }
        
        let q1 = 'quantity' + i.slice(2);
        document.getElementById(q1).innerHTML = cart[i];
    }



    $('.cart').click(function () {
        console.log('clicked');

        var idstr = this.id.toString();
        var id = idstr.slice(2);
        var idstr = "pr" + id;


        if (cart[idstr] != undefined) {
            cart[idstr] = cart[idstr] + 1;

        }

        else {
            cart[idstr] = 1;
        }



        localStorage.setItem('cart', JSON.stringify(cart));
        update_cart();
        let q1 = 'quantity' + idstr.slice(2);
        document.getElementById(q1).innerHTML = cart[idstr];

        if (cart[idstr] > 0) {
            tem = idstr.slice(2);
            items2(tem);

        }

        if (cart[idstr] == 0) {
            tem = idstr.slice(2);
            items1(tem);
        }

    });


    // removing the items
    $('.remove').click(function () {
        var r_id = this.id.toString();

        let pr_id = 'pr' + r_id.slice(2);

        if (cart[pr_id] != '0' && cart[pr_id] != undefined) {

            cart[pr_id] = cart[pr_id] - 1;

            let q1 = 'quantity' + pr_id.slice(2);
            document.getElementById(q1).innerHTML = cart[pr_id];
            localStorage.setItem('cart', JSON.stringify(cart));
            // updating the cart
            update_cart();
            if (cart[pr_id] == 0) {
                items1(r_id.slice(2));
            }

        }
    });

    function pop_cart() {
        cart = document.getElementById('pop_cart');
        existing = cart.getAttribute('data-content');

        btn1 = '<button id="clr" class="btn btn-primary">Clear cart</button>';
        btn2 = ' <a href="/shop/check_out/"> <button id="check" class="btn btn-primary">Check out </button></a> ';
        final_cart = existing + btn1 + btn2;
        cart.setAttribute('data-content', final_cart);
        $('#pop_cart').popover('show');
    }

    $('#clr').click(function () {
        localStorage.clear('cart');
        cart = {};
        location.reload();
        //update_cart();    
    })




</script>

{%endblock%}